a{
	color: #03BDB2;
}
.mui-bar-nav{
	background: #03BDB2;
}
.mui-bar-nav h1{
	color: #fff;
	font-weight: bold;
}
.mui-bar-tab .mui-tab-item.mui-active{
	color: #03BDB2;
}
.mui-table-view .media-active{
	padding: 10px 15px;
}
.mui-table-view .media-active .mui-media-object{
	max-width: 60px;
	height: 60px;
}
.mui-table-view .media-active .mui-media-body{
	line-height: 60px;
}
.mui-table-view .media-active .mui-media-body .mui-ellipsis{
	line-height: 25px;
}
.mui-table-view .media-active .mui-media-body h4{
	color: #000;
}
.mui-table-view .mui-media .mui-media-body{
	color:#666;
}
.mui-control-content .mui-content .mui-card .mui-card-footer .mui-card-link i{
	margin-left: 0.3rem;
	color: #FACF26;
}

#tabbar-with-map .myHead{
	width: 100%;
	text-align: center;
	background: #03BDB2;
	padding: 3rem 0;
}
#tabbar-with-map .myHead .myFace{
	width: 15%;
	margin: 0 auto;
}
#tabbar-with-map .myHead .myFace img{
	width: 100%;
	border-radius: 50%;
	
}
#tabbar-with-map .myHead .myName{
	margin-top: 0.8rem;
	color: #fff;
}
.icon-dingdan , .icon-dou , .icon-dizhi , .icon-icon_lianxi{
	color: #03BDB2;
}
#tabbar-with-map .mui-table-view{
	margin-top: 0.8rem;
}

/*我的订单页*/
.mui-bar-nav.mui-bar .mui-icon{
	color: #fff;
}
.noList{
	text-align: center;
	padding-top: 2rem;
}
.noList i{
	font-size: 6rem;
	color: #ccc;
	padding: 1rem 0;
}
.noList p{
	color: #ccc;
}
