<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ytzh.mapper.UserInFoMapper">
	<select id="selectUserInByOID" parameterType="wToken" resultType="com.ytzh.pojo.WeixinUserInfo">
		select * from c_userInfo where 1=1 and openid=#{openid}
	</select>
	
	<insert id="userInfoSave" parameterType="wUserInfo" >
		INSERT INTO c_userinfo (openid,subscribe, subscribeTime, nickname, sex, country, province, city, LANGUAGE, headimgurl, privilege, unionid,sign_in_integration)
      VALUES(#{openid}, #{subscribe}, #{subscribeTime}, #{nickname}, #{sex}, #{country}, #{province}, #{city}, #{language}, #{headimgurl}, #{privilege}, #{unionid},0)
	</insert>
	
	<select id="sign_id_select" parameterType="wUserInfo" resultType="Map">
		SELECT COUNT(1) count FROM  c_userinfo WHERE 1=1 AND openid=#{openid} AND UNIX_TIMESTAMP(s_date)=UNIX_TIMESTAMP(CURDATE())
	</select>
	
	<update id="sign_in" parameterType="wUserInfo">
		UPDATE c_userinfo SET sign_in_integration = sign_in_integration+5 , s_date = CURDATE() WHERE 1=1 AND openid=#{openid}
	</update>
</mapper>